.container-card-main {
    padding: 4px;
}

.MuiTab-textColorPrimary {
    color: #354E18 !important;
}

.MuiTabs-indicator {
    display: none;
}



@media (max-width: 640px) {
    .container-card-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        padding: 12px 0px;
    }
}